<footer class="site-footer">

  <div class="wrapper">
    <div class="row">
      <div class="col-xs-12 text-center">
        <a href="" >Full Site</a>
        <a href="" >Privacy</a>
        <a href="" >Terms</a>
        <a href="" >Contact</a>
      </div>
    </div>
    
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="footer-info">
          <div class="rx-logo"></div>
          <div class="info">A Rexel Group Company<br> &copy; Rexel 2015</div>
        </div>
      </div>
    </div>
  </div>

</footer>

<script type="text/javascript" src="{{ "/js/jquery2.1.4.min.js" | prepend: site.baseurl }}"></script> <!-- Replace with Link to jquery2.1.4.min.js -->
<script type="text/javascript" src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script> <!-- Replace with Link to bootstrap.min.js -->
<script type="text/javascript" src="{{ "/js/bootstrap_offcanvas.min.js" | prepend: site.baseurl }}"></script> <!-- Replace with Link to bootstrap_offcanvas.min.js -->
<script type="text/javascript" src="{{ "/js/bootstrap_switches.min.js" | prepend: site.baseurl }}"></script> <!-- Replace with Link to bootstrap_switches.min.js -->
<script type="text/javascript" src="{{ "/js/jquery.mmenu.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/app.js" | prepend: site.baseurl }}"></script>
