<header class="site-header">

  <div class="wrapper">
    <div class="row">

      <div class="col-xs-2 visible-xs-block"><i class="material-icons icon-2x">menu</i></div>
      <div class="col-xs-8 col-sm-12 text-center"><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></div>
      <div class="col-xs-2 visible-xs-block">
        <i class="material-icons pull-right icon-2x">local_grocery_store<div class="cart-count">4</div></i>
      </div>

      <div class="col-sm-2 hidden-xs">
        <button class="btn btn-default btn-block products-btn">Products   <i class="material-icons">arrow_drop_down</i></button>
      </div>

      <form class="col-xs-12 col-sm-8">
        <div class="form-group">
          <label for="search" class="hidden">Search</label>
          <input class="form-control" name="search" placeholder="Search">
          <button class="search-button" type="submit"><i class="material-icons">search</i></button>
        </div>
      </form>

      <div class="col-sm-1 hidden-xs text-center remove-padding"><i class="material-icons icon-2x">person</i></div>
      <div class="col-sm-1 hidden-xs text-center">
        <i class="material-icons icon-2x">local_grocery_store<div class="cart-count">4</div></i>
        
      </div>


    </div>
  </div>
</header>
