<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title> <!-- Replace with page title -->
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}"> <!-- Replace with link to main.css -->
  <link rel="stylesheet" href="{{ "/css/flexslider.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/prototype.only.css" | prepend: site.baseurl }}">

 <script type="text/javascript" src="{{ "/js/modernizr.js" | prepend: site.baseurl }}"></script> <!-- Replace with link to Modernizr.js -->

</head>
