<header class="navbar navbar-default site-header">

  <div class="wrapper">
    <!-- HUD Bar (Desktop Only) -->
    <div class="col-md-12 hidden-xs hidden-sm hud-bar">
      <div class="container">
        <span><a href="tel:888-555-5555">888.555.5555</a></span> <!-- Phone Number Link  -->
        <span><a href="#livechat">Live Chat</a></span>           <!-- Live Chat Link     -->
        <span><a href="#StoreLocator">Store Locator</a></span>   <!-- Store Locator Link -->
        <span><a href="#QuickOrder">Quick Order</a></span>       <!-- Quick Order Link   -->
        <span class="pull-right">
          <span class="customer-name"><a href="#CustomerName">Customer Name</a></span> <!-- Customer Name (If Logged in)-->
          <span class="horiz-seperator">|</span>
          <span class="shipping-address-link"><a href="#ShippingAddress"><strong>Ship-To Address: </strong>
            <span class="shipping-address">Shipping Address Here</span></a> <!-- Shipping Address -->
          </span>
        </span>
      </div>
    </div>
    <!-- End HUD Bar -->

    <div class="row">

      <!-- Hamburger Icon (Mobile Only) -->
      <div class="col-xs-2 visible-xs-block"><i class="material-icons icon-2x" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">menu</i></div>
      
      <!-- Logo (Mobile & Tablet Only) -->
      <div class="col-xs-8 col-sm-12 text-center hidden-md hidden-lg"><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></div>

      <!-- Shopping Cart (Mobile Only) -->
      <div class="col-xs-2 visible-xs-block">
        <a href="#Cart">
          <i class="material-icons pull-right icon-2x">local_grocery_store<div class="cart-count">4</div></i> <!-- items in cart here -->
        </a>
      </div>
      
      <!-- Products Dropdown (Tablet Only) -->
      <div class="col-sm-2 visible-sm-block">
        <!-- This launches products dropdown -->
        <button class="btn btn-default btn-block products-btn">Products   <i class="material-icons">arrow_drop_down</i></button>
      </div>
      
      <!-- Search Bar (Mobile & Tablet Only) -->
      <form class="col-xs-12 col-sm-8 hidden-md hidden-lg">
        <div class="form-group">
          <label for="search" class="hidden">Search</label>
          <input class="form-control" name="search" placeholder="Search">
          <button class="search-button" type="submit"><i class="material-icons">search</i></button>
        </div>
      </form>
      
      <!-- My Account (Tablet Only) -->
      <div class="col-sm-1 visible-sm-block text-center remove-padding">
      <a href="#MyAccount"> <!-- My account link  here-->
        <i class="material-icons icon-2x">person</i></div>
      </a>

      <!-- Shopping Cart (Tablet Only) -->
      <div class="col-sm-1 visible-sm-block text-center">
        <a href="#Cart"> <!-- My Cart Link here -->
          <i class="material-icons icon-2x">local_grocery_store<div class="cart-count">4</div></i> <!-- items in cart here -->
        </a>
      </div>
      
      <!-- Desktop Header (Desktop Only) -->
      <div class="col-md-12 hidden-xs hidden-sm">
        <div class="container">

          <!-- Logo (Desktop Only) -->
          <div class="col-md-3 first-LeftPad-0"><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></div>
          
          <!-- Header Links and Dropdowns (Desktop Only) -->
          <span class="header-links-wrapper">
          <div class="col-md-9 header-links">
            <span>
              <a class="header-link header-link-about">About</a>                 <!-- This launches 'about' dropdown      -->
              <a class="header-link header-link-industries">Industries</a>       <!-- This launches 'industries' dropdown -->
              <a class="header-link header-link-service">Service</a>             <!-- This launches 'service' dropdown    -->
            </span>
          </div>

          <div class="clearfix"></div>

          {% include headerlinks_dropdown.html %}
          </span>
          <div class="clearfix"></div>

          <!-- Products Dropdown (Desktop Only) -->
          <div class="col-md-3 first-LeftPad-0">
            <!-- This launches products dropdown -->
            <button class="btn btn-default btn-block products-btn">Browse Products   <i class="material-icons">arrow_drop_down</i></button>
          </div>

          <!-- Search Bar (Desktop Only) -->
          <form class="col-md-7 desktop-only">
            <div class="form-group">
              <label for="search" class="hidden">Search</label>
              <input class="form-control" name="search" placeholder="Search For Products">
              <button class="search-button" type="submit"><i class="material-icons">search</i></button>
            </div>
          </form>

          <!-- My Account (Desktop Only) -->
          <div class="col-md-1 desktop-only text-center remove-padding">
            <a href="#MyAccount"><i class="material-icons icon-2x">person</i></a> <!-- My account link -->
          </div>

          <!-- Shopping Cart (Desktop Only) -->
          <div class="col-md-1 desktop-only text-center">
            <a href="#Cart"> <!-- My Cart Link here -->
              <i class="material-icons icon-2x">local_grocery_store<div class="cart-count">4</div></i> <!-- items in cart here -->
            </a>
          </div>

        </div>
      </div> <!-- End Desktop Header -->

      

    </div> <!-- End Row -->
  </div>
</header>

