<!-- HEADER LINKS DROPDOWN -->
<div class="row header-links-dropdown">

	<span class="about-dropdown">
		<div class="col-md-offset-3 pull-left">
			<ul class="support-list first-list">
				<li><strong>Support</strong></li> 								
				<li><a href="#TermsAncConditions">Terms & Conditions</a></li>   <!-- TERMS & CONDITIONS LINK -->
				<li><a href="#ContactUs">Contact Us</a></li>					<!-- CONTACT US LINK         -->
				<li><a href="#Help">Help</a></li>								<!-- HELP LINK               -->
			</ul>
		</div>

		<div class="pull-left">
			<ul class="gen-info-list">
				<li><strong>General Information</strong></li>					
				<li><a href="#Ethics">Ethics</a></li>							<!-- ETHICS LINK      -->
				<li><a href="#Careers">Careers</a></li>							<!-- CAREERS LINK     -->
				<li><a href="#AllBrands">All Brands</a></li>					<!-- ALL BRANDS LINK  -->
				<li><a href="#AboutRexel">About Rexel</a></li>					<!-- ABOUT REXEL LINK -->
			</ul>
		</div>
	</span> 

	<span class="industries-dropdown">
		<div class="col-md-offset-3 pull-left">
			<ul class="residential-list first-list">
				<li><strong>Residential</strong></li> 
				<li><a href="#SingleFamily">Single Family</a></li>				<!-- SINGLE FAMILY LINK -->
				<li><a href="#MultiUnit">Multi-Unit</a></li>					<!-- MULTI-UNIT LINK    -->
			</ul>
		</div>

		<div class="pull-left">
			<ul class="commercial-list middle-list">
				<li><strong>Commercial</strong></li>
				<li><a href="#FoodAndBeverage">Food and Beverage</a></li>		<!-- FOOD & BEVERAGE LINK -->
				<li><a href="#Healthcare">Healthcare</a></li>					<!-- HEALTHCARE LINK      -->
				<li><a href="#Hospitality">Hospitality</a></li>					<!-- HOSPITALITY LINK     -->
			</ul>
		</div>

		<div class="pull-left">
			<ul class="industries-list">
				<li><strong>Industries</strong></li>
				<li><a href="#Industrial">Industrial</a></li>					<!-- INDUSTRIAL LINK         -->
				<li><a href="#SolarSolutions">Solar Solutions</a></li>			<!-- SOLAR SOLUTIONS LINK    -->
				<li><a href="#OilAndGas">Oil and Gas</a></li>					<!-- OIL & GAS LINK          -->
				<li><a href="#AutomationSystems">Automation Systems</a></li>	<!-- AUTOMATION SYSTEMS LINK -->
			</ul>
		</div>
	</span> 

	<span class="service-dropdown">
		<div class="col-md-offset-3 pull-left">
			<ul class="downloads-list first-list">
				<li><strong>Downloads</strong></li>
				<li><a href="#IndustrialSolutionsGuide">Industrial Solutions Guide</a></li>	<!-- INDUSTRIAL SOLUTIONS GUIDE LINK -->
				<li><a href="#CreditApplication">Credit Application</a></li>				<!-- CREDIT APPLICATION LINK         -->
				<li><a href="#eCatalogs">eCatalogs</a></li>									<!-- ECATALOGS LINK                  -->
				<li><a href="#Literature">Literature</a></li>								<!-- LITERATURE LINK                 -->
			</ul>
		</div>

		<div class="pull-left">
			<ul class="services-list middle-list">
				<li><strong>Services</strong></li>
				<li><a href="#EnergySolutions">Energy Solutions</a></li>		<!-- ENERGY SOLUTIONS LINK   -->
				<li><a href="#eServiceSolutions">eService Solutions</a></li>	<!-- ESERVICE SOLUTIONS LINK -->
				<li><a href="#RexelTech">Rexel Tech</a></li>					<!-- REXEL TECH LINK         -->
			</ul>
		</div>

		<div class="pull-left">
			<ul class="tools-list">
				<li><strong>Tools</strong></li>
				<li><a href="#BidList">Bid List</a></li>									<!-- BID LIST LINK 				  -->
				<li><a href="#ElectricalTipsAndTools">Electrical Tips and Tools</a></li>	<!-- ELECTRICAL TIPS & TOOLS LINK -->
				<li><a href="#Estimators">Estimators</a></li>								<!-- ESTIMATORS LINK 			  -->
				<li><a href="#EventsCalendar">Events Calendar</a></li>						<!-- EVENTS CALENDAR LINK 	      -->
			</ul>
		</div>
	</span>

</div>
<!-- END OF HEADER LINKS DROPDOWN CONTENT -->