<div class="container myaccount-dropdown-wrapper hidden-xs">
<div class="myaccount-dropdown col-md-4">
	<form>
        <div class="form-group">
        	<label for="username" class="hidden">Username</label>
            <input class="form-control" name="username" placeholder="Username">
            <label for="password" class="hidden">Password</label>
            <input class="form-control" name="password" type="password" placeholder="Password">
            <input type="checkbox" name="remember-me-checkbox"> <label class="remember-me-label" for="remember-me-checkbox">Remember Me</label>
            <button class="btn btn-primary btn-block" type="submit">Sign In</button>
        </div>
    </form>
    <a class="forgot-pw" href="#ForgotPassword"><strong>Forgot Password?</strong></a> <br>
    <p>By signing in, you agree to our <a href="#TermsAndConditions">terms and conditions</a>.</p>
</div>
</div>