<nav class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
<div class="navmenu-brand" >
  
  <span class="signed-in">Customer Name</span> <br> <!-- Customers Name Here -->
  <a href="#SignOut" class="signed-in">Sign Out</a> <!-- If Signed-In, This will say 'Sign Out', If NOT Signed-in This will say 'Sign In' and direct you to the Sign-In Page/Modal -->
  <a href="#SignOut" class="signed-out">Sign In</a>
</div>

  <ul class="nav navmenu-nav nav-list">
    <li class="nav-item"><a href="{{ site.baseurl }}/">Home</a></li> <!-- 'Home' Link -->
    <li class="nav-item"><a href="#AllProducts">All Products <i class="material-icons pull-right">keyboard_arrow_right</i></a></li> <!-- 'All Products' Link -->
    <li class="signed-in">
      <ul class="navmenu-info">
        <li class="info-title">My Company</li> 
        <li class="info-copy">Company Name Here</li> <!-- Company Name Here -->
        <li class="info-title">My Home Store</li>
        <li class="info-copy">
          <span>Address Line 1</span> <br> <!-- Address Line 1 Here -->
          <span>Address Line 2</span> <br> <!-- Address Line 2 Here -->
          <span>Address Line 3</span> <br> <!-- Address Line 3 Here -->
          <span>Address Line 4</span>      <!-- Address Line 4 Here -->
        </li>
        <li class="info-title">My Account Manager</li>
        <li class="info-copy">
          <span>Name Here</span>    <br> <!-- My Account Managers Name Here -->
          <span><a href="tel:555-555-5555">555.555.5555</a></span> <br> <!-- My Account Managers Phone Number Here -->
          <span><a href="mailto:#EmailAddress">Email Address</a></span>     <!-- My Account Managers Email Address Here -->
        </li>
      </ul>
    </li>
  </ul>
</nav>