<nav id="my-menu">
   <ul class="nav-list">
      <li class="nav-customer-name signed-in"><a href="{{ site.baseurl }}/">Customer Name</a></li>
      <li class="nav-sign-out signed-in"><a href="{{ site.baseurl }}/#SignOut">Sign out</a></li>
      <li class="nav-sign-out signed-out"><a href="{{ site.baseurl }}/#SignIn">Sign In</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/">Home</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/#AllProducts">All Products <i class="material-icons pull-right">keyboard_arrow_right</i></a></li>
      <p class="signed-in">
        <span>My Company</span><br>
        <span class="info-copy">Company Name Here</span><br><br>
        <span>My Home Store</span><br>
        <span class="info-copy">Address Line 1</span><br>
        <span class="info-copy">Address Line 2</span><br>
        <span class="info-copy">Address Line 3</span><br>
        <span class="info-copy">Address Line 4</span><br><br>
        <span>My Account Manager</span><br>
        <span class="info-copy">Name Here</span><br>
        <span class="info-copy"><a href="tel:555-555-5555">555.555.5555</a></span><br>
        <span class="info-copy"><a href="mailto:#EmailAddress">Email@EmailAddress.org</a></span>
      </p>
   </ul>
</nav>