
<div class="row products-dropdown hidden-xs">
	<div class="container">
		<div class="col-sm-4">
			<ul>
				<li><a href="#BoxesEnclosures">Boxes, Enclosures</a></li>
				<li><a href="#ConduitDuctsRaceways">Conduit, Ducts, Raceways</a></li>
				<li><a href="#ConnectorsCrimpsTermination">Connectors, Crimps, Termination</a></li>
				<li><a href="#ControlAutomation">Control, Automation</a></li>
				<li><a href="#DataVideoAudio">Data, Video, Audio</a></li>
				<li><a href="#Fasteners">Fasteners</a></li>
			</ul>
		</div>
		<div class="col-sm-4">
			<ul class="col2">
				<li><a href="#HeatFans">Heat, Fans</a></li>
				<li><a href="#LampsBulbsBallasts">Lamps, Bulbs, Ballasts</a></li>
				<li><a href="#LightingLightingControls">Lighting, Lighting Controls</a></li>
				<li><a href="#Motors">Motors</a></li>
				<li><a href="#PowerDistribution">Power Distribution</a></li>
				<li><a href="#SignalingSecurity">Signaling, Security</a></li>
			</ul>
		</div>
		<div class="col-sm-4">
			<ul class="col3">
				<li><a href="#SolarCleanEnergy">Solar/Clean Energy</a></li>
				<li><a href="#ToolsTestingMeters">Tools, Testing, Meters</a></li>
				<li><a href="#Utility">Utility</a></li>
				<li><a href="#WiresCablesCords">Wires, Cables, Cords</a></li>
				<li><a href="#WiringDevices">Wiring Devices</a></li>
			</ul>
		</div>	
	</div>
</div>